.about {
  padding-bottom: 2rem;

  &__bio-image {
    height: 50vh;
    width: 100%;
    background: 
      linear-gradient(
        to top,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.0)
      ),
    url(../img/IMG_0840.JPG) center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  p {
    margin-block-end: flex-end;
  }
}